@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 23 23% 95%;
    --foreground: 23 5% 10%;
    --card: 23 23% 90%;
    --card-foreground: 23 5% 15%;
    --popover: 23 23% 95%;
    --popover-foreground: 23 95% 10%;
    --primary: 23 100% 66.7%;
    --primary-foreground: 0 0% 0%;
    --secondary: 23 23% 76%;
    --secondary-foreground: 0 0% 0%;
    --muted: -15 23% 85%;
    --muted-foreground: 23 5% 40%;
    --accent: -15 23% 80%;
    --accent-foreground: 23 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 23 5% 90%;
    --border: 23 23% 76%;
    --input: 23 23% 50%;
    --ring: 23 100% 66.7%;
    --radius: 0.3rem;
    --dark-blue: 203 30% 26%;
  }
  .dark {
    --background: 23 23% 10%;
    --foreground: 23 5% 90%;
    --card: 23 23% 10%;
    --card-foreground: 23 5% 90%;
    --popover: 23 23% 5%;
    --popover-foreground: 23 5% 90%;
    --primary: 23 100% 66.7%;
    --primary-foreground: 0 0% 0%;
    --secondary: 23 23% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: -15 23% 25%;
    --muted-foreground: 23 5% 65%;
    --accent: -15 23% 25%;
    --accent-foreground: 23 5% 90%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 23 5% 90%;
    --border: 23 23% 50%;
    --input: 23 23% 50%;
    --ring: 23 100% 66.7%;
    --radius: 0.3rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
